<%- include("header") -%>



<div class="" style= "text-align : center">
  <h1 style="color: black">Inzamam Ahmad</h1>
  <p> I am a full Stack software Developer with great experience in Node Html Css JavaScript </p> <br>
  <p> Pyhton Docker KuberNtes
  a complete mern stack developer </p>
  <p>Email:   enzee274@gmail.com </p>
  <p>Phone:   +92 304 6692442 </p>

</div>




<%- include("footer") -%>
